In [1]:
!mamba install altair
!mamba install pandas
!mamba install matplotlib

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.7.6) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['altair']

pkgs/main/osx-64         [>                   ] (--:--) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/r/osx-64            [>                   ] (--:--) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [>                   ] (--:--) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/conda/exceptions.py", line 1082, in __call__
        return func(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 882, in exception_converter
        raise e
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 876, in exception_converter
        exit_code = _wrapped_main(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 835, in _wrapped_main
        result = do_call(args, p)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 716, in do_call
        exit_code = install(args, parser, "install")
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 514, in install
        index = load_channels(pool, channels, repos)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 93, in load_channels
        index = get_index(
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 74, in get_index
        is_downloaded = dlist.download(True)
    RuntimeError: Multi-download failed.

`$ /Users/che-yuliu/opt/anaconda3/bin/mamba install altair`

  environment variables:
                 CIO_TEST=<not set>
        CONDA_DEFAULT_ENV=base
                CONDA_EXE=/Users/che-yuliu/opt/anaconda3/bin/conda
             CONDA_PREFIX=/Users/che-yuliu/opt/anaconda3
    CONDA_PROMPT_MODIFIER=(base)
         CONDA_PYTHON_EXE=/Users/che-yuliu/opt/anaconda3/bin/python
               CONDA_ROOT=/Users/che-yuliu/opt/anaconda3
              CONDA_SHLVL=1
           CURL_CA_BUNDLE=<not set>
                     PATH=/opt/homebrew/opt/libpq/bin:/Users/che-
                          yuliu/opt/anaconda3/bin:/Users/che-yuliu/opt/anaconda3/condabin:/Libra
                          ry/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/Syste
                          m/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.app
                          le.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com
                          .apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.a
                          pple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin
       REQUESTS_CA_BUNDLE=<not set>
            SSL_CERT_FILE=<not set>

     active environment : base
    active env location : /Users/che-yuliu/opt/anaconda3
            shell level : 1
       user config file : /Users/che-yuliu/.condarc
 populated config files : /Users/che-yuliu/.condarc
          conda version : 4.12.0
    conda-build version : 3.21.8
         python version : 3.9.12.final.0
       virtual packages : __osx=10.16=0
                          __unix=0=0
                          __archspec=1=x86_64
       base environment : /Users/che-yuliu/opt/anaconda3  (writable)
      conda av data dir : /Users/che-yuliu/opt/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-64
                          https://conda.anaconda.org/conda-forge/noarch
                          https://repo.anaconda.com/pkgs/main/osx-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/osx-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /Users/che-yuliu/opt/anaconda3/pkgs
                          /Users/che-yuliu/.conda/pkgs
       envs directories : /Users/che-yuliu/opt/anaconda3/envs
                          /Users/che-yuliu/.conda/envs
               platform : osx-64
             user-agent : conda/4.12.0 requests/2.28.1 CPython/3.9.12 Darwin/23.2.0 OSX/10.16
                UID:GID : 501:20
             netrc file : None
           offline mode : False


An unexpected error has occurred. Conda has prepared the above report.


                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.7.6) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['pandas']

pkgs/main/osx-64         [>                   ] (--:--) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/r/osx-64            [>                   ] (--:--) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [>                   ] (--:--) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/conda/exceptions.py", line 1082, in __call__
        return func(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 882, in exception_converter
        raise e
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 876, in exception_converter
        exit_code = _wrapped_main(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 835, in _wrapped_main
        result = do_call(args, p)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 716, in do_call
        exit_code = install(args, parser, "install")
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 514, in install
        index = load_channels(pool, channels, repos)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 93, in load_channels
        index = get_index(
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 74, in get_index
        is_downloaded = dlist.download(True)
    RuntimeError: Multi-download failed.

`$ /Users/che-yuliu/opt/anaconda3/bin/mamba install pandas`

  environment variables:
                 CIO_TEST=<not set>
        CONDA_DEFAULT_ENV=base
                CONDA_EXE=/Users/che-yuliu/opt/anaconda3/bin/conda
             CONDA_PREFIX=/Users/che-yuliu/opt/anaconda3
    CONDA_PROMPT_MODIFIER=(base)
         CONDA_PYTHON_EXE=/Users/che-yuliu/opt/anaconda3/bin/python
               CONDA_ROOT=/Users/che-yuliu/opt/anaconda3
              CONDA_SHLVL=1
           CURL_CA_BUNDLE=<not set>
                     PATH=/opt/homebrew/opt/libpq/bin:/Users/che-
                          yuliu/opt/anaconda3/bin:/Users/che-yuliu/opt/anaconda3/condabin:/Libra
                          ry/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/Syste
                          m/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.app
                          le.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com
                          .apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.a
                          pple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin
       REQUESTS_CA_BUNDLE=<not set>
            SSL_CERT_FILE=<not set>

     active environment : base
    active env location : /Users/che-yuliu/opt/anaconda3
            shell level : 1
       user config file : /Users/che-yuliu/.condarc
 populated config files : /Users/che-yuliu/.condarc
          conda version : 4.12.0
    conda-build version : 3.21.8
         python version : 3.9.12.final.0
       virtual packages : __osx=10.16=0
                          __unix=0=0
                          __archspec=1=x86_64
       base environment : /Users/che-yuliu/opt/anaconda3  (writable)
      conda av data dir : /Users/che-yuliu/opt/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-64
                          https://conda.anaconda.org/conda-forge/noarch
                          https://repo.anaconda.com/pkgs/main/osx-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/osx-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /Users/che-yuliu/opt/anaconda3/pkgs
                          /Users/che-yuliu/.conda/pkgs
       envs directories : /Users/che-yuliu/opt/anaconda3/envs
                          /Users/che-yuliu/.conda/envs
               platform : osx-64
             user-agent : conda/4.12.0 requests/2.28.1 CPython/3.9.12 Darwin/23.2.0 OSX/10.16
                UID:GID : 501:20
             netrc file : None
           offline mode : False


An unexpected error has occurred. Conda has prepared the above report.

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.7.6) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['matplotlib']

pkgs/r/osx-64            [>                   ] (--:--) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/r/osx-64            [====================] (00m:00s) 403 Failed
pkgs/main/osx-64         [>                   ] (--:--) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/main/osx-64         [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [>                   ] (--:--) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed
pkgs/main/noarch         [====================] (00m:00s) 403 Failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/conda/exceptions.py", line 1082, in __call__
        return func(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 882, in exception_converter
        raise e
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 876, in exception_converter
        exit_code = _wrapped_main(*args, **kwargs)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 835, in _wrapped_main
        result = do_call(args, p)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 716, in do_call
        exit_code = install(args, parser, "install")
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/mamba.py", line 514, in install
        index = load_channels(pool, channels, repos)
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 93, in load_channels
        index = get_index(
      File "/Users/che-yuliu/opt/anaconda3/lib/python3.9/site-packages/mamba/utils.py", line 74, in get_index
        is_downloaded = dlist.download(True)
    RuntimeError: Multi-download failed.

`$ /Users/che-yuliu/opt/anaconda3/bin/mamba install matplotlib`

  environment variables:
                 CIO_TEST=<not set>
        CONDA_DEFAULT_ENV=base
                CONDA_EXE=/Users/che-yuliu/opt/anaconda3/bin/conda
             CONDA_PREFIX=/Users/che-yuliu/opt/anaconda3
    CONDA_PROMPT_MODIFIER=(base)
         CONDA_PYTHON_EXE=/Users/che-yuliu/opt/anaconda3/bin/python
               CONDA_ROOT=/Users/che-yuliu/opt/anaconda3
              CONDA_SHLVL=1
           CURL_CA_BUNDLE=<not set>
                     PATH=/opt/homebrew/opt/libpq/bin:/Users/che-
                          yuliu/opt/anaconda3/bin:/Users/che-yuliu/opt/anaconda3/condabin:/Libra
                          ry/Frameworks/Python.framework/Versions/3.10/bin:/usr/local/bin:/Syste
                          m/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.app
                          le.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com
                          .apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.a
                          pple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin
       REQUESTS_CA_BUNDLE=<not set>
            SSL_CERT_FILE=<not set>

     active environment : base
    active env location : /Users/che-yuliu/opt/anaconda3
            shell level : 1
       user config file : /Users/che-yuliu/.condarc
 populated config files : /Users/che-yuliu/.condarc
          conda version : 4.12.0
    conda-build version : 3.21.8
         python version : 3.9.12.final.0
       virtual packages : __osx=10.16=0
                          __unix=0=0
                          __archspec=1=x86_64
       base environment : /Users/che-yuliu/opt/anaconda3  (writable)
      conda av data dir : /Users/che-yuliu/opt/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-64
                          https://conda.anaconda.org/conda-forge/noarch
                          https://repo.anaconda.com/pkgs/main/osx-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/osx-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /Users/che-yuliu/opt/anaconda3/pkgs
                          /Users/che-yuliu/.conda/pkgs
       envs directories : /Users/che-yuliu/opt/anaconda3/envs
                          /Users/che-yuliu/.conda/envs
               platform : osx-64
             user-agent : conda/4.12.0 requests/2.28.1 CPython/3.9.12 Darwin/23.2.0 OSX/10.16
                UID:GID : 501:20
             netrc file : None
           offline mode : False


An unexpected error has occurred. Conda has prepared the above report.

In [134]:
# put all imports here

import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt
import re
from sklearn.linear_model import LinearRegression
from scipy.stats import pearsonr

In [135]:
# Cleaning

washis_df_fin = pd.read_csv("WAHIS15-19.csv")

washis_df_fin.head()

,Year,Semester,World region,Country,Administrative Division,Disease,Serotype/Subtype/Genotype,Animal Category,Event_id,Species,Outbreak_id,New outbreaks,Susceptible,Measuring units,Cases,Killed and disposed of,Slaughtered,Deaths,Vaccinated
0,2015,Jan-Jun 2015,Africa,Algeria,Algeria,Bovine tuberculosis (-2018),NaN,Both animal categories,-,NaN,-,45,-,-,-,-,-,-,-
1,2015,Jan-Jun 2015,Africa,Algeria,Algeria,Bovine tuberculosis (-2018),NaN,Domestic,-,Cattle,-,-,901,Animal,211,0,211,0,-
2,2015,Jan-Jun 2015,Africa,Algeria,Algeria,Brucella abortus (Inf. with),NaN,Both animal categories,-,NaN,-,293,-,-,-,-,-,-,-
3,2015,Jan-Jun 2015,Africa,Algeria,Algeria,Brucella abortus (Inf. with),NaN,Domestic,-,Cattle,-,-,2945,Animal,657,0,657,0,0
4,2015,Jan-Jun 2015,Africa,Algeria,Algeria,Brucella melitensis (Inf. with),NaN,Both animal categories,-,NaN,-,32,-,-,-,-,-,-,-

In [136]:
# List of known zoonotic diseases (verified)
zoonDiseaseList = [
    'Anthrax',
    'Avian chlamydiosis',
    'Avian influenza A viruses of high pathogenicity (Inf. with)',
    'Bovine babesiosis',
    'Bovine spongiform encephalopathy (BSE)',
    'Bovine tuberculosis',
    'Brucella abortus',
    'Brucella melitensis',
    'Brucella suis',
    'Burkholderia mallei (Glanders)',
    'Camelpox virus (rare zoonosis)',
    'Chlamydia abortus',
    'Chrysomya bezziana (Old World screwworm)',
    'Cochliomyia hominivorax (New World screwworm)',
    'Coxiella burnetii (Q fever)',
    'Crimean–Congo haemorrhagic fever',
    'Eastern equine encephalitis virus',
    'Echinococcus granulosus',
    'Echinococcus multilocularis',
    'Foot and mouth disease virus (rare zoonosis)',
    'Japanese encephalitis virus',
    'Leishmania spp.',
    'Low pathogenicity avian influenza viruses transmissible to humans',
    'Middle East respiratory syndrome coronavirus (MERS-CoV)',
    'Mycobacterium tuberculosis complex',
    'Newcastle disease virus',
    'Pox viruses (other than those listed by the OIE)',
    'Rabies virus',
    'Rift Valley fever virus',
    'SARS-CoV-2 in animals',
    'Taenia solium',
    'Trichinella spp.',
    'Trypanosoma brucei',
    'Tularemia',
    'Venezuelan equine encephalomyelitis',
    'West Nile Fever',
    'Western equine encephalitis virus'
]

In [137]:
# Start from raw WAHIS zoonotic data
washis_df = washis_df_fin.copy()

# Normalize disease names
washis_df["Disease_norm"] = (
    washis_df["Disease"]
    .astype(str)
    .str.strip()
    .str.lower()
)

zoon_terms_sorted = sorted(
    {d.lower().strip() for d in zoonDiseaseList}
)

# Keep zoonotic diseases only
washis_df = washis_df[
    washis_df["Disease_norm"].isin(zoon_terms_sorted)
]

# Numeric cases
washis_df["Cases_num"] = pd.to_numeric(
    washis_df["Cases"], errors="coerce"
).fillna(0)

# Aggregate to Country–Year
ZoonCasesbyCountryYear = (
    washis_df
    .groupby(["Country", "Year"], as_index=False)["Cases_num"]
    .sum()
    .rename(columns={"Cases_num": "Zoonotic_Cases"})
)

In [138]:
# Create scaffold to clean up country and year columns

country_year_scaffold = (
    washis_df
    [["Country", "Year"]]
    .drop_duplicates()
    .assign(
        Country=lambda d: d["Country"].astype(str).str.strip(),
        Year=lambda d: d["Year"].astype(int)
    )
)
ZoonCasesbyCountryYear_final = (
    country_year_scaffold
    .merge(
        ZoonCasesbyCountryYear,
        how="left",
        on=["Country", "Year"]
    )
    .fillna({"Zoonotic_Cases": 0})
    .sort_values(["Country", "Year"])
    .reset_index(drop=True)
)

# Optional index style to match screenshot
ZoonCasesbyCountryYear_final.index = range(1, len(ZoonCasesbyCountryYear_final) + 1)

In [139]:
ZoonCasesbyCountryYear_final

         Country  Year  Zoonotic_Cases
1    Afghanistan  2015          3644.0
2    Afghanistan  2016          1566.0
3    Afghanistan  2017          3008.0
4    Afghanistan  2018          3633.0
5    Afghanistan  2019          3320.0
..           ...   ...             ...
480     Zimbabwe  2015          1639.0
481     Zimbabwe  2016          1476.0
482     Zimbabwe  2017          1699.0
483     Zimbabwe  2018          1706.0
484     Zimbabwe  2019          3279.0

[484 rows x 3 columns]

In [140]:
# this dataset primarily is used to analyze the production of crops and livestock (density)
# Loading the dataset from csv

Prod_df_fin = pd.read_csv("Production_Crops_Livestock_E_All_Data_NOFLAG.csv")

# Drop unnecessary years
SlimTradeDF = Prod_df_fin.drop(columns=['Area Code', 'Area Code (M49)', 'Item Code', 
       'Item Code (CPC)', 'Element Code', 'Y1961', 'Y1962', 'Y1963',
       'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
       'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
       'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
       'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
       'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
       'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011',
       'Y2012', 'Y2013', 'Y2014', 'Y2020', 'Y2021', 'Y2022', 'Y2023', 'Y2024'])

ExportOnlySlimTradeDF = SlimTradeDF[SlimTradeDF["Element"] == 'Production']


# Reshaping SlimTradeDF so it can be joined with washis_df_fin. 
# Take values in each year column and add it as a row. 
trade_df_fin = ExportOnlySlimTradeDF.melt(
    id_vars=[
        "Area",
        "Item",
        "Element",
        "Unit"
    ],
    value_vars=["Y2015", "Y2016", "Y2017", "Y2018", "Y2019"],
    var_name="Year",
    value_name="Trade_Value"
)
trade_df_fin["Year"] = trade_df_fin["Year"].str.replace("Y", "").astype(int)

'''for area in trade_df_fin["Area"].dropna().unique():
    print(area)'''

'for area in trade_df_fin["Area"].dropna().unique():\n    print(area)'

In [141]:
COUNTRY_CANONICAL_MAP = {
    # Russia / Turkey (easy)
    "Russia": "Russian Federation",
    "Türkiye": "Turkey",
    "Türkiye (Rep. of)": "Turkey",

    # China handling
    "China, mainland": "China",
    "China (People's Rep. of)": "China",  
    "China, Hong Kong SAR": "China",
    "China, Macao SAR": "China",
    # Explicitly DO NOT merge these into China
    "China, Taiwan Province of": None,
}

In [142]:
trade_df_fin = trade_df_fin.copy()

trade_df_fin["Country_std"] = (
    trade_df_fin["Area"]
    .astype(str)
    .str.strip()
    .replace(COUNTRY_CANONICAL_MAP)
)

In [143]:
trade_df_fin = trade_df_fin.rename(columns={"Area": "Country"})

merged_df2 = trade_df_fin.merge(
    ZoonCasesbyCountryYear_final,
    how="left",
    left_on=["Country", "Year"],
    right_on=["Country", "Year"]
)
region_map = (
    washis_df
    .dropna(subset=["World region"])
    .assign(
        Country=lambda d: d["Country"].astype(str).str.strip(),
        Year=lambda d: d["Year"].astype(int)
    )
    .drop_duplicates(subset=["Country", "Year"])
    [["Country", "Year", "World region"]]
)


merged_df2 = (
    trade_df_fin
    .assign(
        Country=lambda d: d["Country"].astype(str).str.strip(),
        Year=lambda d: d["Year"].astype(int)
    )
    .merge(
        ZoonCasesbyCountryYear,
        how="left",
        left_on=["Country", "Year"],
        right_on=["Country", "Year"]
    )
)

merged_df2 = merged_df2.merge(
    region_map,
    how="left",
    left_on=["Country", "Year"],
    right_on=["Country", "Year"],
    suffixes=("", "_region")
)


merged_df2.head() # By Tahreem & Blythe

,Country,Item,Element,Unit,Year,Trade_Value,Country_std,Zoonotic_Cases,World region
0,Afghanistan,"Almonds, in shell",Production,t,2015,24246.0,Afghanistan,3644.0,Asia
1,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Production,t,2015,18000.0,Afghanistan,3644.0,Asia
2,Afghanistan,Apples,Production,t,2015,89733.0,Afghanistan,3644.0,Asia
3,Afghanistan,Apricots,Production,t,2015,87686.0,Afghanistan,3644.0,Asia
4,Afghanistan,Barley,Production,t,2015,403000.0,Afghanistan,3644.0,Asia

In [144]:
# Clean df to only include one instance of country, year, world region, and case
cases_base = (
    merged_df2[
        ["Country", "Year", "World region", "Zoonotic_Cases"]
    ]
    .drop_duplicates(subset=["Country", "Year"])
    .copy()
)

cases_base["Zoonotic_Cases"] = pd.to_numeric(cases_base["Zoonotic_Cases"], errors="coerce").fillna(0)

# Group by year and country and count the number of outbreaks and obtain the total number of outbreaks
outbreak_by_country_year = (
    cases_base
    .groupby(["Country", "Year", "World region"], as_index=False)
    .agg(total_cases=("Zoonotic_Cases", "sum"))
)

df = outbreak_by_country_year.copy()
df["Year"] = df["Year"].astype(int)
df["Country"] = df["Country"].astype(str).str.strip()
df["key"] = df["Country"] + "_" + df["Year"].astype(str)

region_options = sorted(df["World region"].unique().tolist())
region_select = alt.selection_point(
    name="RegionSelect",
    fields=["World region"],
    bind=alt.binding_select(options=region_options, name="Region: "),
    value=[{"World region": region_options[0]}],
)

heatmap = (
    alt.Chart(df)
    .mark_rect()
    .transform_filter(region_select)
    .encode(
        x=alt.X("Year:O", title="Year"),
        y=alt.Y("Country:N", title="Country"),
        color=alt.Color(
            "total_cases:Q",
            title="Total Zoonotic Cases",
            scale=alt.Scale(scheme="tealblues"),
        ),
        tooltip=[
            alt.Tooltip("Country:N", title="Country"),
            alt.Tooltip("Year:O", title="Year"),
            alt.Tooltip("total_cases:Q", title="Total Cases", format=","),
            alt.Tooltip("World region:N", title="Region"),
        ],
    )
    .properties(
        width=800,
        height=600,
        title="Total Zoonotic Case Counts by Country and Year"
    )
    .add_params(region_select)
)

heatmap # By Blythe

# Note that poland had a huge outbreak in 2015
# Common west nile outbreaks occur in egypt

alt.Chart(...)

In [145]:
AvgZoonCasesbyCountrySampSize = (
    ZoonCasesbyCountryYear.groupby('Country', as_index=False)
    .agg(Avg_Zoonotic_Cases=('Zoonotic_Cases', 'mean'), Sample_Size=('Year', 'nunique'))
)

# Set index starting at 1
AvgZoonCasesbyCountrySampSize.index = pd.RangeIndex(start=1, stop=len(AvgZoonCasesbyCountrySampSize) + 1)

# Create HightoLow_AvgZnCasesbyCountrySS sorted by Avg_Zoonotic_Cases descending
HightoLow_AvgZnCasesbyCountrySS = AvgZoonCasesbyCountrySampSize.sort_values(by='Avg_Zoonotic_Cases', ascending=False).copy()
HightoLow_AvgZnCasesbyCountrySS.index = pd.RangeIndex(start=1, stop=len(HightoLow_AvgZnCasesbyCountrySS) + 1)



# Preview both DataFrames
AvgZoonCasesbyCountrySampSize, HightoLow_AvgZnCasesbyCountrySS

(         Country  Avg_Zoonotic_Cases  Sample_Size
 1    Afghanistan              3034.2            5
 2        Albania                12.8            5
 3         Angola               226.0            5
 4      Argentina                63.8            5
 5        Armenia                 2.0            1
 ..           ...                 ...          ...
 125      Uruguay               343.2            5
 126    Venezuela                83.4            5
 127      Vietnam                 2.0            1
 128       Zambia               558.4            5
 129     Zimbabwe              1959.8            5

 [129 rows x 3 columns],
               Country  Avg_Zoonotic_Cases  Sample_Size
 1               Egypt             40782.4            5
 2            Ethiopia              7254.2            5
 3               India              5111.0            5
 4           Sri Lanka              3942.6            5
 5         Afghanistan              3034.2            5
 ..                ...                 ...          ...
 125  French Polynesia                 0.0            2
 126          Slovakia                 0.0            1
 127       Philippines                 0.0            1
 128          Pakistan                 0.0            2
 129     New Caledonia                 0.0            5

 [129 rows x 3 columns])

In [146]:
dftop10HtL_AvgZnCasesbyCountry = HightoLow_AvgZnCasesbyCountrySS.head(10).drop(columns="Sample_Size")
dftop10HtL_AvgZnCasesbyCountry

                     Country  Avg_Zoonotic_Cases
1                      Egypt             40782.4
2                   Ethiopia              7254.2
3                      India              5111.0
4                  Sri Lanka              3942.6
5                Afghanistan              3034.2
6                   Zimbabwe              1959.8
7          Türkiye (Rep. of)              1851.6
8   China (People's Rep. of)              1753.0
9                     Russia              1286.8
10                   Burundi              1190.5

In [147]:
# Flag colors
'''flag_colors = {
    'Egypt': '#CE1126',
    'Ethiopia': '#008000',
    'India': '#FF9933',
    'Sri Lanka': '#8B5A2B',
    'Afghanistan': '#000000',
    'Zimbabwe': '#FFD700',
    'Türkiye (Rep. of)': '#C1272D',
    "China (People's Rep. of)": '#239F40',
    'Russia': '#0000FF',   # default blue
    'Burundi': '#A4C639'   # default greenish
}'''

flags = {
    'Egypt': '🇪🇬',
    'Ethiopia': '🇪🇹',
    'India': '🇮🇳',
    'Sri Lanka': '🇱🇰',
    'Afghanistan': '🇦🇫',
    'Zimbabwe': '🇿🇼',
    'Türkiye (Rep. of)': '🇹🇷',
    "China (People's Rep. of)": '🇨🇳',
    'Russia': '🇷🇺',   
    'Burundi': '🇧🇮' 
}

# Assign colors
#dftop10HtL_AvgZnCasesbyCountry['Color'] = dftop10HtL_AvgZnCasesbyCountry['Country'].map(flag_colors)

dftop10HtL_AvgZnCasesbyCountry['Country'] = dftop10HtL_AvgZnCasesbyCountry['Country'].map(
    lambda country: f"{flags[country]} {country}" if country in flags else country
)

In [148]:

base = alt.Chart(dftop10HtL_AvgZnCasesbyCountry).encode(
    x=alt.X('Avg_Zoonotic_Cases:Q', title=None,
            axis=alt.Axis(grid=False, domain=False, labels=False,
                         ticks=False)),
    y=alt.Y('Country:N',
            axis=alt.Axis(domainColor="lightgray", 
                                       grid=False,
                                       ticks=True, tickSize=13, 
                                       tickColor="white", labelColor="gray", labelFontSize=12), sort='-x', title=None))



rules = base.mark_rule(color='#5F9EA0', opacity=0.60)
    

# Circles (heads of the lollipop)
points = base.mark_circle(size=100, color='#5F9EA0', strokeWidth=0, opacity=0.85).encode(
    x='Avg_Zoonotic_Cases:Q'
)

# Text labels next to the points
text = base.mark_text(align='left', dx=15, dy=3).encode(
    x='Avg_Zoonotic_Cases:Q',
    text=alt.Text('Avg_Zoonotic_Cases:Q', format=',.0f'),
    color=alt.value("black")
)

# Final chart layout
chart = (rules + points + text).properties(
    width=600,
    height=400,
    title=alt.Title(text='Average Zoonotic Cases / Year',
                    subtitle= "Top 10 Countries From 2015-2019",
                    color="#5F9EA0", dy=-10, dx=10, subtitleColor="gray", subtitleFontSize=10.5
    
))

chart.configure_view(strokeWidth=0) # By Tahreem

alt.LayerChart(...)

In [149]:
## Now we start the process of cleaning up and manipulating the data in order to run a linear regression model
## this is to answer our question of Is there a relation between the products these outbreak ridden countries produce and the volume of outbreaks?
# For each country, get the top 25 products by total Trade_Value
top25_per_country = (
    merged_df2.groupby(['Country', 'Item'])['Trade_Value']
    .sum()
    .reset_index()
    .sort_values('Trade_Value', ascending = False)
    .groupby('Country')
    .head(25)
)
top25_per_country.head()

      Country                      Item   Trade_Value
29716   World          Cereals, primary  1.457767e+10
29923   World       Sugar Crops Primary  1.088146e+10
29925   World                Sugar cane  9.489534e+09
29779   World  Hen eggs in shell, fresh  7.610590e+09
1315     Asia          Cereals, primary  7.024745e+09

In [150]:
# Count how many countries each item appears in
item_frequency = (
    top25_per_country.groupby('Item')['Country']
    .nunique()
    .reset_index()
    .rename(columns = {'Country': 'Country_Count'})
    .sort_values('Country_Count', ascending=False)
)
frequent_items_df = item_frequency[item_frequency['Country_Count'] > 2].copy()
frequent_items_df

                                                  Item  Country_Count
81                            Hen eggs in shell, fresh            231
202                                 Vegetables Primary            230
105                                        Meat, Total            226
169                            Roots and Tubers, Total            223
68                                       Fruit Primary            216
..                                                 ...            ...
114                                       Oil of maize              3
76   Green tea (not fermented), black tea (fermente...              3
135  Other stimulant, spice and aromatic crops, n.e.c.              3
75                                        Green garlic              3
121                                          Olive oil              3

[161 rows x 2 columns]

In [151]:
# split frequent items into tertiles based on country_count
frequent_items_df['Frequency_Tier'] = pd.qcut(
    frequent_items_df['Country_Count'], 
    q = 3, 
    labels = ['Low', 'Medium', 'High']
)
frequent_items_df

,Item,Country_Count,Frequency_Tier
81,"Hen eggs in shell, fresh",231,High
202,Vegetables Primary,230,High
105,"Meat, Total",226,High
169,"Roots and Tubers, Total",223,High
68,Fruit Primary,216,High
...,...,...,...
114,Oil of maize,3,Low
76,"Green tea (not fermented), black tea (fermente...",3,Low
135,"Other stimulant, spice and aromatic crops, n.e.c.",3,Low
75,Green garlic,3,Low
121,Olive oil,3,Low

In [152]:
# Map those tiers back onto merged_df2
frequent_items_df = frequent_items_df.reset_index(drop=True)
frequent_subset = merged_df2[merged_df2['Item'].isin(frequent_items_df['Item'])].copy()

# Deduplicate before merging
frequent_subset = frequent_subset.drop_duplicates(subset=['Country', 'Year', 'Item'])

frequent_subset = frequent_subset.merge(
    frequent_items_df[['Item', 'Frequency_Tier']], 
    on = 'Item', 
    how = 'left'
)

frequent_subset['Frequency_Tier'] = frequent_subset['Frequency_Tier'].astype(str)

frequent_subset

,Country,Item,Element,Unit,Year,Trade_Value,Country_std,Zoonotic_Cases,World region,Frequency_Tier
0,Afghanistan,Apples,Production,t,2015,8.973300e+04,Afghanistan,3644.0,Asia,High
1,Afghanistan,Barley,Production,t,2015,4.030000e+05,Afghanistan,3644.0,Asia,High
2,Afghanistan,"Beans, dry",Production,t,2015,NaN,Afghanistan,3644.0,Asia,Medium
3,Afghanistan,Butter of cow milk,Production,t,2015,3.786902e+04,Afghanistan,3644.0,Asia,Low
4,Afghanistan,Cantaloupes and other melons,Production,t,2015,3.020670e+05,Afghanistan,3644.0,Asia,Medium
...,...,...,...,...,...,...,...,...,...,...
119400,Net Food Importing Developing Countries (NFIDCs),Sheep and Goat Meat,Production,t,2019,3.894233e+06,Net Food Importing Developing Countries (NFIDCs),NaN,NaN,Medium
119401,Net Food Importing Developing Countries (NFIDCs),"Skim Milk & Buttermilk, Dry",Production,t,2019,5.825924e+04,Net Food Importing Developing Countries (NFIDCs),NaN,NaN,Low
119402,Net Food Importing Developing Countries (NFIDCs),Sugar Crops Primary,Production,t,2019,2.286962e+08,Net Food Importing Developing Countries (NFIDCs),NaN,NaN,High
119403,Net Food Importing Developing Countries (NFIDCs),"Treenuts, Total",Production,t,2019,2.322437e+06,Net Food Importing Developing Countries (NFIDCs),NaN,NaN,Medium
119404,Net Food Importing Developing Countries (NFIDCs),Vegetables Primary,Production,t,2019,9.386334e+07,Net Food Importing Developing Countries (NFIDCs),NaN,NaN,High

In [153]:
# aggregate trade_value by country, year, and tier

tier_agg = (
    frequent_subset.groupby(['Country', 'Year', 'Frequency_Tier'], as_index=False)
    .agg(
        Tier_Trade_Value = ('Trade_Value', 'sum'),
        Zoonotic_Cases = ('Zoonotic_Cases', 'first')
    )
)
tier_agg = tier_agg.dropna(subset = ['Zoonotic_Cases', 'Tier_Trade_Value'])
tier_agg

          Country  Year Frequency_Tier  Tier_Trade_Value  Zoonotic_Cases
0     Afghanistan  2015           High       23440780.26          3644.0
1     Afghanistan  2015            Low         284677.54          3644.0
2     Afghanistan  2015         Medium        1275628.05          3644.0
3     Afghanistan  2016           High       25269233.83          1566.0
4     Afghanistan  2016            Low         272902.12          1566.0
...           ...   ...            ...               ...             ...
3645     Zimbabwe  2018            Low         668223.62          1706.0
3646     Zimbabwe  2018         Medium         992615.21          1706.0
3647     Zimbabwe  2019           High       23593297.30          3279.0
3648     Zimbabwe  2019            Low         637609.15          3279.0
3649     Zimbabwe  2019         Medium        1051616.05          3279.0

[1269 rows x 5 columns]

In [154]:
# create a correlation matrix first to visualize potential results from the regression
## reshape the tier_agg data frame so frequency tier is now a column variable
tier_pivot = tier_agg.pivot_table(
    index=['Country', 'Year'],
    columns='Frequency_Tier',
    values='Tier_Trade_Value',
    aggfunc='sum'
).reset_index()
tier_pivot = tier_pivot.merge(
    tier_agg[['Country', 'Year', 'Zoonotic_Cases']].drop_duplicates(),
    on=['Country', 'Year']
)

In [155]:
## run the correlation matrix 
corr_matrix = tier_pivot[['Low', 'Medium', 'High', 'Zoonotic_Cases']].corr()
corr_matrix

                     Low    Medium      High  Zoonotic_Cases
Low             1.000000  0.851403  0.727855        0.116728
Medium          0.851403  1.000000  0.892889        0.090812
High            0.727855  0.892889  1.000000        0.070037
Zoonotic_Cases  0.116728  0.090812  0.070037        1.000000

In [156]:
# create a heatmap from the correlation matrix:
## melting the matrix into a long format for Altair
corr_long = corr_matrix.reset_index().melt(
    id_vars='index',
    var_name='Variable',
    value_name='Correlation'
).rename(columns={'index': 'Variable_2'})

# create the heatmap
alt.Chart(corr_long).mark_rect().encode(
    x=alt.X('Variable:N', title=None),
    y=alt.Y('Variable_2:N', title=None),
    color=alt.Color('Correlation:Q', scale=alt.Scale(scheme='tealblues'))
).properties(
    width=400,
    height=400,
    title='Correlation Matrix: Production Tiers vs Zoonotic Cases'
)
base = alt.Chart(corr_long).encode(
    x=alt.X('Variable:N', title=None),
    y=alt.Y('Variable_2:N', title=None)
)

heatmap = base.mark_rect().encode(
    color=alt.Color('Correlation:Q', scale=alt.Scale(scheme='tealblues'))
)

text = base.mark_text(fontSize=14).encode(
    text=alt.Text('Correlation:Q', format='.3f'),
    color=alt.condition(
        alt.datum.Correlation > 0.5,
        alt.value('white'),
        alt.value('black')
    )
)

(heatmap + text).properties(
    width=400,
    height=400,
    title='Correlation Matrix: Production Tiers vs Zoonotic Cases'
).interactive() # By Che-Yu

alt.LayerChart(...)

In [157]:
## from the above correlation matrix heatmap we can see there is a weak positive correlation for the low_freq products.
# let's run a regression with default hyperparameters for each tier to confirm

for tier in ['Low', 'Medium', 'High']:
    tier_data = tier_agg[tier_agg['Frequency_Tier'] == tier]
    X = tier_data[['Tier_Trade_Value']]
    y = tier_data['Zoonotic_Cases']
    
    model = LinearRegression()
    model.fit(X, y)
    
    print(f"--- {tier} Frequency Tier ---")
    print(f"Coefficient: {model.coef_[0]:.6f}")
    print(f"R² Score: {model.score(X, y):.4f}")
    print() # By Che-Yu and Tahreem

--- Low Frequency Tier ---
Coefficient: 0.000040
R² Score: 0.0136

--- Medium Frequency Tier ---
Coefficient: 0.000024
R² Score: 0.0082

--- High Frequency Tier ---
Coefficient: 0.000001
R² Score: 0.0049

In [183]:
## zooming in on just the low frequency products products as it shows the greatest positive correlation:
## create a scatterplot figure to visualize the relationship between low production products and zoonotic cases

# isolate just the low tiered products
low_tier = tier_agg[tier_agg['Frequency_Tier'] == 'Low']

# create a base chart
base = alt.Chart(low_tier).encode(
    x = alt.X('Tier_Trade_Value:Q', title = 'Tier Trade Value',
              scale = alt.Scale(type = 'log'),
              axis = alt.Axis(grid = False)),
    y = alt.Y('Zoonotic_Cases:Q', title = 'Zoonotic Cases',
              scale = alt.Scale(type = 'symlog'),
              axis = alt.Axis(grid = False))
)

# add points to the base chart 
points = base.mark_circle(size = 30, opacity = 0.5, color = '#5F9EA0')

# add a regression line to visualize the trend 
line = base.transform_regression(
    'Tier_Trade_Value', 'Zoonotic_Cases'
).mark_line(strokeDash = [6, 4], size = 2, color = 'gray')

# combine 
(points + line).properties(
    width = 400,
    height = 350,
    title = 'Low Frequency Tier: Production Volume vs Zoonotic Cases (R² = 0.0136, β = 0.000040)'
) # By Che-Yu

alt.LayerChart(...)